<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">

    <title>Admin - 登录</title>

    <link href="/public/hp/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/hp/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="/public/hp/css/animate.min.css" rel="stylesheet">
    <link href="/public/hp/css/style.min.css?v=3.3.0" rel="stylesheet">
    <link href="/public/hp/css/login.min.css" rel="stylesheet">

</head>

<body class="signin">
    <div class="signinpanel">
        <div class="row">
            <div class="col-sm-7">
                <div class="signin-info">
                    <div class="logopanel m-b">
                        <h1>[ 萨瓦底卡 ]</span></h1>
                    </div>
                    <div class="m-b"></div>
                    <h4>欢迎使用 <strong>您的到来</strong></h4>
                    <ul class="m-b">
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势一</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势二</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势三</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势四</li>
                        <li><i class="fa fa-arrow-circle-o-right m-r-xs"></i> 优势五</li>
                    </ul>
                    <strong>还没有账号？ <a href="#">立即注册&raquo;</a></strong>
                </div>
            </div>
            <div class="col-sm-5">
                <form method="post" action="{{url "Auth.Login"}}">
                    <h4 class="no-margins">登录：</h4>
                    <p class="m-t-md">登录到后台</p>

                    {{with $field := field "user.Username" .}}
                    <input type="text" class="form-control uname" style="color:red;"  placeholder="用户名" name="{{$field.Name}}" value="{{$field.Value}}{{$field.Flash}}" />
                    <p class="m-t-md" style="color:red;">{{$field.Error}}</p>
                    {{end}}

                    {{with $field := field "user.Password" .}}
                    <input type="password"  class="form-control pword m-b" style="color:red;" placeholder="密码" name="{{$field.Name}}" value="{{$field.Value}}{{$field.Flash}}"  />
                    <p class="m-t-md" style="color:red;">{{$field.Error}}</p><br/>
                    {{end}}

                    <a href="#">忘记密码了？</a>
                    <p class="m-t-md" style="color:red;">{{.loginMsg}}</p><br/>

                    <button class="btn btn-success btn-block">登录</button>
                </form>
            </div>
        </div>
        <div class="signup-footer">
            <div class="pull-left">
                &copy; 2015 All Rights Reserved.
            </div>
        </div>
    </div>
</body>

</html>