{{set . "title" "Home"}}
{{template "layout_v1/header.html" .}}
        <div class="row">
            <div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        {{if .task.TaskId}}<h5>修改任务</h5>{{else}}<h5>添加任务</h5>{{end}}
                                                <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal m-t" action="{{url "Tasks.TaskOperate"}}" method="post">
                            {{with $field := field "task.TaskName" .}}
                              <div class="form-group">
                                <label class="col-sm-3 control-label">任务名称:</label>
                                <div class="col-sm-8">
                                    <input name="{{$field.Name}}" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error" value="{{$field.Value}}{{$field.Flash}}" >
                                    <p class="m-t-md" style="color:red;">{{$field.Error}}</p>
                                </div>
                              </div>
                            {{end}}
                            {{with $field := field "task.TaskType" .}}
                              <div class="form-group">
                                <label class="col-sm-3 control-label">任务类型:</label>
                                <div class="col-sm-8">
                                    <input name="{{$field.Name}}" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error" value="{{$field.Value}}{{$field.Flash}}" >
                                    <p class="m-t-md" style="color:red;">{{$field.Error}}</p>
                                </div>
                              </div>
                            {{end}}
                            {{with $field := field "task.Description" .}}
                              <div class="form-group">
                                    <label class="col-sm-3 control-label">任务描述:</label>
                                    <div class="col-sm-8">
                                        <textarea id="content" name="{{$field.Name}}" class="form-control help-block m-b-none" required="" aria-required="true" aria-invalid="false" aria-describedby="comment-error">{{$field.Value}}{{$field.Flash}}</textarea>
                                        {{$field.Error}}
                                    </div>
                                </div>
                            {{end}}
                            {{with $field := field "task.CronSpec" .}}
                              <div class="form-group">
                                <label class="col-sm-3 control-label">时间表达式:</label>
                                <div class="col-sm-8">
                                    <input name="{{$field.Name}}" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error" value="{{$field.Value}}{{$field.Flash}}" >
                                    <p class="m-t-md" style="color:red;">{{$field.Error}}</p>
                                </div>
                              </div>
                            {{end}}
                            {{with $field := field "task.Command" .}}
                              <div class="form-group">
                                    <label class="col-sm-3 control-label">运行脚本:</label>
                                    <div class="col-sm-8">
                                        <textarea id="content" name="{{$field.Name}}" class="form-control help-block m-b-none" required="" aria-required="true" aria-invalid="false" aria-describedby="comment-error">{{$field.Value}}{{$field.Flash}}</textarea>
                                        {{$field.Error}}
                                    </div>
                                </div>
                            {{end}}
                            {{with $field := field "task.Notify" .}}
                              <div class="form-group">
                                <label class="col-sm-3 control-label">是否通知:
                                </label>
                                <div class="col-sm-6">
                                        <label>
                                            <input type="radio" value="0" name="task.Notify" {{if eq $field.Value "0"}}checked{{end}}>  <i></i> 不通知
                                        </label>
                                        <label>
                                             <input type="radio" value="1" name="task.Notify" {{if eq $field.Value "1"}}checked{{end}}> <i></i> 执行失败时通知
                                        </label>
                                        <label>
                                             <input type="radio" value="2" name="task.Notify" {{if eq $field.Value "2"}}checked{{end}}> <i></i> 执行结束时通知
                                        </label>
                                </div>
                                <p class="m-t-md" style="color:red;">{{$field.Error}}</p>
                            </div>
                            {{end}}
                            {{with $field := field "task.NotifyEmail" .}}
                              <div class="form-group">
                                <label class="col-sm-3 control-label">通知邮件:</label>
                                <div class="col-sm-8">
                                    <input name="{{$field.Name}}" class="form-control" type="text" aria-required="true" aria-invalid="true" class="error" value="{{$field.Value}}{{$field.Flash}}" >
                                    <p class="m-t-md" style="color:red;">{{$field.Error}}</p>
                                </div>
                              </div>
                            {{end}}

                            <div class="form-group">
                                <label class="col-sm-3 control-label">任务组：</label>
                                <div class="col-sm-8">
                                    <select class="form-control m-b" name="task.GroupId">
                                        {{range $index, $elem := .group}}
                                        <option value="{{$elem.TaskGroupId}}" {{if eq $elem.TaskGroupId ".task.GroupId"}}checked{{end}} >{{$elem.GroupName}}</option>
                                        {{end}}
                                    </select>

                                </div>
                            </div>

                            {{if .task.TaskId}}
                                {{with $field := field "task.TaskId" .}}
                                <input type="hidden" name="{{$field.Name}}" value="{{$field.Value}}{{$field.Flash}}" >
                                {{end}}
                            {{end}}
                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-3">
                                    <button class="btn btn-primary" type="submit">提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{{template "layout_v1/footer.html" .}}
