{{set . "title" "Home"}}
{{template "layout_v1/header.html" .}}
<div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
         
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>任务情况</h5>
                        
                    </div>
                    <div class="ibox-content">

                        <div>
                            <div class="feed-activity-list">
                                <div class="feed-element">                                    
                                    <div class="media-body ">
                                        <small class="pull-right text-navy"></small>
                                        任务名称: <strong>{{.taskLog.TaskName}}</strong> 
                                        <br>                                                                               
                                    </div>
                                </div>
								<div class="feed-element">                                    
                                    <div class="media-body ">                                        
										<small class="text-muted">执行时间: {{datetime .taskLog.GmtCreate}}</small>
                                       <br>																		
                                    </div>
                                </div>
								<div class="feed-element">                                    
                                    <div class="media-body ">                                        
										<small class="text-muted">任务描述: {{.task.Description}}</small>
                                       <br>
										<div class="well">
                                            时间表达式: {{.task.CronSpec}}
                                        </div>																	
                                    </div>
                                </div>
                                <div class="feed-element">                                    
                                    <div class="media-body ">                                        
										<small class="text-muted">执行脚本:</small>                                       
										<br>
										<div class="well">
                                            {{.task.Command}}
                                        </div>
                                    </div>
                                </div>
								<div class="feed-element">                                    
                                    <div class="media-body ">                                        
										<small class="text-muted">执行状态: {{if eq .taskLog.Status 1}}<span class="label label-primary">成功{{else}}<span class="label label-default">失败{{end}}    </small>                                     
										<br>
										{{if eq .taskLog.Status 1}}
											输出：
											<div class="well">
                                            {{.taskLog.Output}}
                                        </div>
											<br/>
                                           <small>执行时间：{{.taskLog.ProcessTime}}秒</small>
										{{else}}
											错误：{{.taskLog.Error}}
										{{end}}
                                    </div>
                                </div>
								<div class="feed-element">                                    
                                    <div class="media-body ">                                        
										<small class="text-muted">通知:{{if eq .task.Notify 1}} {{.task.NotifyEmail}} {{else}} 不通知 {{end}}</small>                                       
										<br>
                                    </div>
                                </div>
                                

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
		
{{template "layout_v1/footer.html" .}}







