    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="renderer" content="webkit">

        <title>玩蛋</title>

        <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
        <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

        <!--[if lt IE 8]>
        <script>
            alert('H+已不支持IE6-8，请使用谷歌、火狐等浏览器\n或360、QQ等国产浏览器的极速模式浏览本页面！');
        </script>
        <![endif]-->

        <link href="/public/hp/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
        <link href="/public/hp/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
        <link href="/public/hp/css/animate.min.css" rel="stylesheet">
        <link href="/public/hp/css/style.min.css?v=3.0.0" rel="stylesheet">
    </head>

    <body class="fixed-sidebar full-height-layout gray-bg">
        <div id="wrapper">
            {{template "layout_v2/leftside.html" .}}
             <!--右侧部分开始-->
            <div id="page-wrapper" class="gray-bg dashbard-1">

