{{set . "title" "Home"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>玩儿-title</title>
    <link rel="icon" href="/public/hp/img/profile_small.jpg" type="image/x-icon" />
    <link href="/public/hp/css/bootstrap.min.css?v=3.4.0" rel="stylesheet">
    <link href="/public/hp/css/font-awesome.min.css?v=4.3.0" rel="stylesheet">
    <link href="/public/hp/css/plugins/footable/footable.core.css" rel="stylesheet">
    <link href="/public/hp/css/animate.min.css" rel="stylesheet">
    <link href="/public/hp/css/login.min.css" rel="stylesheet">
     <!-- Sweet Alert -->
    <link href="/public/hp/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/public/hp/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="/public/hp/css/plugins/codemirror/ambiance.css" rel="stylesheet">
    <link href="/public/hp/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="/public/hp/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="/public/hp/css/style.min.css?v=3.0.0" rel="stylesheet">
</head>
<body >
<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>{{.apiParam.Name}}</h5>
    </div>

    <div class="ibox-content">
       <div class="ibox float-e-margins">
            <div class="ibox-content">
                 <form class="form-horizontal"  id="apiForm">
                    <p>方式:&nbsp;&nbsp;{{.apiParam.Method}}</p>
                    <p>地址:&nbsp;&nbsp;{{.apiParam.Host}}{{.apiParam.Path}}</p>
                    <input type="hidden" name="apiParam.Host" value="{{.apiParam.Host}}{{.apiParam.Path}}">
                    <input type="hidden" name="apiParam.Method" value="{{.apiParam.Method}}">

                    {{range  $idx, $filed := .apiParam.Fileds}}
                        {{if eq $filed.Location "header"}}
                        <input type="hidden" name="location[]" value="{{$filed.Name}}">
                        {{end}}
                        {{if $filed.Salt}}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{$filed.Lable}}[{{$filed.Name}}]：</label>

                            <div class="col-sm-8">
                                <input type="{{$filed.Ftype}}" placeholder="{{$filed.Placeholder}}"  name="{{$filed.Name}}" value="{{$filed.Value}}" class="form-control sign"  > <span class="help-block m-b-none"></span>
                            </div>
                         </div>
                        {{else}}
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{$filed.Lable}}[{{$filed.Name}}]：</label>

                            <div class="col-sm-8">
                                <input type="{{$filed.Ftype}}" placeholder="{{$filed.Placeholder}}"  name="{{$filed.Name}}" value="{{$filed.Value}}" class="form-control"> <span class="help-block m-b-none"></span>
                            </div>
                         </div>
                        {{end}}
                    {{end}}


            </div>


                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                             <button class="btn btn-sm btn-white" type="button" onclick="addPass()" >加 密</button>

                            <button class="btn btn-sm btn-white" type="button" onclick="doSubmit()">提 交</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>



    </div>
</div>

    {{template "layout_v1/footer.html" .}}
    <script type="text/javascript">
        function addPass(){
            var path = "/servers/{{.serverId}}/encode/{{.apiParamId}}"
            $.post(path,
                $('#apiForm').serialize(),
                function(data){
                    console.log(data);
                    if(data.r_code==1) {
                        var length = $('.sign').length;
                        // data.data Note:// 金老板
                        for(var k in  data.data.resp) {
                            // console.log("k=>"+k+data.data.resp[k])
                            for (var i = length - 1; i >= 0; i--) {
                                if(k==$('.sign')[i].name) {
                                    $('.sign')[i].value = data.data.resp[k];
                                }
                            }
                        }
                    } else {
                        alert('通讯错误'+data.r_msg)
                    }
                }
            );
        }

        function doSubmit(){
            window.parent.ifrmLoadedDoSubmit($('#apiForm').serialize());
        }
    </script>

</body>
</html>